/*@media(max-width: 1065px) {
	.img_holder {
		height: 25%;		
	}
}*/

body{
	background-color: #EBEBEB;
}

@font-face {

font-family: 'olivier';

src: url('/fonts/olivier_demo.ttf') format ('ttf');

src: local("olivier"), url( '/fonts/olivier_demo.ttf' ) format("truetype");

}

@font-face{
	font-family: "Bebas";

	src: url('/fonts/BebasNeue.otf') format ('otf');

	src: local("Bebas"), url( '/fonts/BebasNeue.otf' ) format("truetype");

}

#signature{
	font-family: 'Bebas';
	font-size: 7.7vw;
	margin: 0px;
	margin-top: 3%; /*was 40px*/
	height: 18%; /*was 120px*/
	position: absolute;
}
.img_holder{
	width: 100%;
	height: 58.5%; /*was 400px*/
	text-align: -webkit-center;
	overflow: hidden;
	margin-top: 1.05%; /*was 12px*/
	border-bottom: solid;
	border-bottom-color: #AAA;
	border-bottom-width: 5px;
}

#header_img{
	width: 100%;
	margin-top: -130px;
}

#navbar{
	left: 5.1%;
	width: 96%;
	height: 10.3%; /*was 70px*/
	border-radius: 5px;
	margin-top: 1.6%;  /*was 20px*/
	position: fixed;
	background-color: #FFF;
	top: 0px;
	box-shadow: 0px 0px 15px 1px #888;
	margin-left: -3%;
	padding-left: 3%;
	padding-right: 3%;
}

#navbar.shrink {
	transition: all 0.4s;
	left: 6.66%;
	width: 8%;
}

#navbar.grow {
	transition: all 0.4s;
	left: 5.1%;
	width: 96%;
}

#navbar.expand {
	transition: all 0.4s;
	width: 30%;
}

.nav-pills>li {
	padding: 1%; /*was 12px*/
}

.bottom_content{
	height: 96.4%; /*was 658px*/
	background-color: #FFF;
	margin-bottom: 1.8%; /*was 20px*/
}

.main_container {
	width: 90%;
	margin-left: 5%;
	margin-top: 8.6%;  /*was 110px*/
	box-shadow: 0px 50px 96px 50px #888;
}

#nav_circle{
	width: 130px; /*was 130px || 7.9%*/
	height: 130px; /*was 130px || 14.7%*/
	position: absolute;
	left: 46.08%;
	top: 63.5%; /*was 440px*/
	background: none;
	border: none;
	padding: 15px;
	outline: none;
}

#nav_circle img {
	box-shadow: 0px 4px 20px #888;
	width: 100%;
	border: solid;
	border-color: white;
}

#nav_circle.shrink {
	transition: left 0.4s;
	position: fixed;
	left: 5.5%; /*was 70px*/
	top: -1%; /*was 8px*/
}

#nav_circle.grow {
	transition: left 0.4s;
	left: 46.08%;
}

.glyphicon{
	font-size: 2.2vw;
}

#signature_contact{
	position: absolute;
	padding-top: 3%; /*was 40px*/
	right: 6.27%;
	text-align: right;
}

#signature_contact h3{
	font-family: 'Bebas';
	font-size: 1.9vw;
	margin-top: 0px;
}

#signature_contact h2{
	font-family: 'Bebas';
	font-size: 3.9vw;
	margin-top: 0px;
}

.text-area h1{
	font-size: 2.8vw;
}

.logos{
	padding-top: 7.8%; /*was 90px*/
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.logos .logo {
	opacity: 0;
	height: 23.5%;  /*was 156px*/
	padding-left: 9%;  /*was 20px*/
	padding-right: 9%;  /*was 20px*/
}

.hover {
	opacity: 1.0 !important;
}

.logo-container{
	display: inline-block;
}

.shadow{
	opacity: 0;
	margin: 15px auto 0 auto;
	display: block;
	width: 150px;
	/*width:16%;*/
}

.text-area *{
	font-family: 'Salsa'
}

.text-area{
	text-align: center;
	margin-top: 9%; /*was 80px*/
}

#contact-text{
	font-size: 4.1vw;
	padding-top: 7%; /*was 80px*/
}