body{
	background-color: #EBEBEB;
}

.img_holder{
	width: 100%;
	height: 300px;
	text-align: -webkit-center;
	overflow: hidden;
	margin-top: 12px;
	/*position: fixed;*/
}

#header_img{
	width: 100%;
	margin-top: -170px;
}

#navbar{
	width: 81%;
	margin-bottom: 7;
	padding: 5;
	border-radius: 5px;
	margin-top: 15px;
	position: fixed;
	background-color: #DDD;
	top: 0px;
	box-shadow: 0px 0px 15px 1px #888;
	margin-left: -0.5%;
}

.bottom_content{
	height: 1000px;
	background-color: #000;
}

.main_container {
	width: 80%;
	margin-left: 10%;
	margin-top: 75px;
	box-shadow: 0px 50px 96px 50px #888;
}

#nav_circle{
	width: 100;
	height: 100;
	border: solid;
	border-color: white;
	position: absolute;
	left: 588;
	top: 346;
}