body{
	background-color: #EBEBEB;
}

@font-face {

font-family: 'olivier';

src: url('/fonts/olivier_demo.ttf') format ('ttf');

src: local("olivier"), url( '/fonts/olivier_demo.ttf' ) format("truetype");

}

#signature{
	font-family: 'olivier';
	font-size: 7em;
	margin: 0px;
	margin-top: 40px;
	height: 120px;
	position: absolute;
}
.img_holder{
	width: 100%;
	height: 400px;
	text-align: -webkit-center;
	overflow: hidden;
	margin-top: 12px;
	border-bottom: solid;
	border-bottom-color: #AAA;
	border-bottom-width: 5px;
}

#header_img{
	width: 100%;
	margin-top: -130px;
}

#navbar{
	left: 65;
	width: 96%;
	height: 70px;
	padding: 5px;
	border-radius: 5px;
	margin-top: 20px;
	position: fixed;
	background-color: #FFF;
	top: 0px;
	box-shadow: 0px 0px 15px 1px #888;
	margin-left: -3%;
}

#navbar.shrink {
	transition: all 0.4s;
	left: 85px;
	width: 8%;
}

#navbar.grow {
	transition: all 0.4s;
	left: 65px;
	width: 96%;
}

.nav-pills>li {
	float: left;
	padding-left: 12px;
	padding-top: 5px;
}

.bottom_content{
	height: 658px;
	background-color: #FFF;
	margin-bottom: 20px;
}

.main_container {
	width: 90%;
	margin-left: 5%;
	margin-top: 110px;
	box-shadow: 0px 50px 96px 50px #888;
}

#nav_circle{
	width: 100;
	height: 100;
	border: solid;
	border-color: white;
	position: absolute;
	left: 588px;
	top: 440px;
	box-shadow: 0px 4px 20px #888;
}

#nav_circle.shrink {
	transition: left 0.4s;
	position: fixed;
	left: 70px;
	top: 8px;
}

#nav_circle.grow {
	transition: left 0.4s;
	left: 588px;
}

.glyphicon{
	font-size: 2em;
}

#signature_contact{
	position: absolute;
	padding-top: 40px;
	right: 80px;
	text-align: right;
}

#signature_contact h3{
	font-family: 'Salsa';
	font-size: 1.7em;
	margin-top: 0px;
}

#signature_contact h2{
	font-family: 'Salsa';
	font-size: 3.5em;
	margin-top: 0px;
}

.logos{
	padding-top: 90px;
	margin-left: 100px;
	margin-right: 100px;
	text-align: center;
}

.logos .logo {
	opacity: 0;
	height: 156px;
	padding-left: 20px;
	padding-right: 20px;
}

.hover {
	opacity: 1.0 !important;
}

.logo-container{
	display: inline-block;
}

.shadow{
	margin: 15px auto 0 auto;
	display: block;
	width: 150px;
}