%form#blog-form{role: "form", action: "/blog", method: "post"}
  .form-group
    %label{for: "title"} Title
    %input#title.form-control{placeholder: "Title", type: "text", name: "title"}
  .form-group
    %label{for: "text"} Text
    %textarea#text.form-control{rows: 5 ,placeholder: "...", type: "text", name: "text"}
  .form-group
    %label{for: "image"} Image
    %input#image{type: "file", name: "image"}
    %i.help-block (optional)
  %button.btn.btn-default{type: "submit"} Submit