.main_container
	%ul.nav.nav-pills#navbar
		%li.active
			%a{href: "#"} Home
		%li
			%a{href: "#"} Profile
		%li
			%a{href: "#"} Messages
	.img_holder
		%img#header_img{src: '/images/leaping.jpg'}
	%img#nav_circle{class: 'img-circle', src: '/images/leaping.jpg'}
	.bottom_content