.main_container
	%ul.nav.nav-pills#navbar
		%li
			%a{href: "#"}
				%span.glyphicon.glyphicon-home
		%li
			%a{href: "#"}
				%span.glyphicon.glyphicon-envelope
		%li
			%a{href: "#"} 
				%span.glyphicon.glyphicon-pushpin
	.img_holder
		%img#header_img{src: '/images/leaping.jpg'}
	%img#nav_circle{class: 'img-circle', src: '/images/leaping.jpg'}
	.bottom_content
		%h1
			Nichlas Keszler