%html
  %head
    %title Nicki Keszler
    %link{href: 'http://fonts.googleapis.com/css?family=Salsa', rel: 'stylesheet', type: 'text/css'}
    %link{href: "/bootstrap/css/bootstrap.min.css", rel: "stylesheet", type: "text/css"}
    %link{href: "/stylesheets/application.css", rel: "stylesheet", type: "text/css"}
  %body
    %ul.nav.nav-pills.nav-justified#navbar
      %li
        %a{href: "/"}
          %span.glyphicon.glyphicon-home.active
      %li
        %a{href: "/contact"} 
          %span.glyphicon.glyphicon-envelope
      %li
        %a{href: "/blog"} 
          %span.glyphicon.glyphicon-pushpin
    .main_container
      .img_holder
        %img#header_img{src: "#{@img_src}"}
      %button#nav_circle{type: 'button'}
        %img.img-circle{src: '/images/nk.png'}
      .bottom_content
        = yield
    %script{src: "/js/jquery.min.js", type: "text/javascript"}
    %script{src: "/js/jquery-ui.min.js", type: "text/javascript"}
    %script{src: "/bootstrap/js/bootstrap.min.js", type: "text/javascript"}
    %script{src: "/js/application.js", type: "text/javascript"}